body{
    background-color: rgba(17, 17 , 17, 100%);

}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.head{
    max-width: 100%;
    margin: 0 auto;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 57px 190px 0px 190px;
    margin: 0;
}
.nav_bar a{
    text-decoration: none;
    color: #ffffff;
    justify-content: space-between;
}
.nav_bar{
    font-size: 18px;
    font-weight: normal;
    list-style: none;
    display: flex;
    gap: 47px;
    align-items: center;
}
.fitness{
    color: rgba(230, 83 , 60, 100%);
    font-size: 36px;
    font-weight: 1000;
    font-style: italic;
}
.home{
    background-color: #e6533c;
    padding: 8px 20px;
    border-radius: 46px;
    font-size: 18px;
    font-weight: 600;
    
}

.section_title{
    color: #ffffff;
}

.name{
    font-size: 78px;
    /* padding: 96px 0px 0px 0px; */
    margin: 0;
}
.description{
    font-size: 16px;
    color: rgba(255, 255 , 255, 50%);
    padding: 28px 0px;
    margin: 0;
}
.title_part{
    padding-left: 190px;
}
.club_button{
    background-color: #e6533c;
    padding: 16px 46px;
    border-radius: 42px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}
.App_button{
    background-color: black;
    padding: 16px 48px;
    border-radius: 42px;
    border: 1px solid ;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    
}
.button1{
    display: flex;
    gap: 14px;
}

.tutorial{
    display: flex;
    
    
    flex-direction: column; 
    align-items: center;
    border: 1px solid brown;
    margin: 0;
    gap: 137px;
  
}



.section_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video_tutorial{
    background-color: rgba(48, 48 , 48, 54%);
    /* background: linear-gradient(180deg, rgba(19,19,19,0.747)0%,rgb(30,30,30)50%,rgba(1,1,1,0.719)100%); */
   
   border: none;
   border-radius: 12px;
     position: absolute;
     margin: 230px 230px 63px 850px;
   
}
.video_title{
    font-size: 24px;
    margin: 0;
 padding: 20px 63px 0px 75px;
}
.video_des{
    font-size: 16px;
    color: rgba(239, 237 , 232, 65%);
margin: 0;
padding: 8px 23px 20px 75px;

}

.free_work{
    background-color: rgba(255, 255 , 255, 10%);
    border: none;
    border-radius: 12px;
    position: absolute;
    margin: 134px 140px 328px 1170px;
    
}

.free_work_title{
    font-size: 40px;
    margin: 0;
    padding: 17px 53px 5px 24px;

}
.free_work_des{
    color: rgba(255, 255 , 255, 65%);
    margin: 0;
    padding: 0px 23px 16px 24px;
    font-size: 13px;
}

.image{
    margin: 0;
    padding: 32px 100px 0px 0px;
    
}

.shape{
    font-family: 'Miama', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  
}

@media screen and (max-width: 576px) {
    .section_title{
        flex-direction: column;
        
        margin: auto;
        
    }
    .navigation{
        
        padding: 0px;
    }
    .title_part{
        margin: 0px;
        padding: 0px;
    }
    .image{
        width: 50%;
        /* margin: 0px; */
        padding-right: 350px;
    }
    
}

/* Change Your Habits */
.Change{
    max-width: 100%;
    
    margin: 0 auto;
    margin-top: 100px;
    
}
.Habits_title{
    color: #ffffff;
    text-align: center;
    font-size: 48px;
    margin-bottom: 0px;
}
.Habits_des{
    color: rgba(255, 255 , 255, 50%);
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    margin-top: 14px;
    margin-bottom: 54px;
}
.pic_part{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
   margin-top: 58px;
   margin-bottom: 100px;
   text-align: center;
   margin-left: 198px;
   margin-right: 198px;
}
.pic_text img{
    border: none;
    border-radius: 100px;
}
.text1{
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0px;
    
}
.text2{
    color: rgba(255, 255 , 255, 50%);
    font-size: 14px;
    font-weight: normal;
    margin-top: 6px;
    
}
@media screen and (max-width:576px) {
    .pic_part{
        flex-direction: column;

        height: auto;
        
    }
    
}
/* Run an Extra Mile Easily */

.run_section{
    max-width: 100%;
    margin: 0 auto;
    background-color: rgba(34, 34 , 34, 100%);
    display: flex;
    justify-content: space-between;
    
    border: none;
    border-radius: 18px;
    margin-bottom: 100px;
    margin-left: 190px;
    margin-right: 190px;
    
}

.run_img_part img{
    border: none;
    border-radius: 18px;
    
}
.run_img_part{
    /* padding: 30px 30px 30px 0px; */
    margin: 30px 32px 29px 0px;
    position: static;
}
.run_text_head{
    font-size: 48px;
    color: rgba(255, 255 , 255, 100%);
    margin:0;
    margin-bottom: 0px;
}
.run_text_des{
    font-size: 14px;
    color: rgba(255, 255 , 255, 50%);
    margin-top: 14px;
    margin-bottom: 34px;
}
.button3{
    background-color: #e6533c;
    padding: 16px 71px;
    border-radius: 42px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}
.run_text_part{
    /* padding: 41px 0px 40px 54px; */
    margin-left: 54px;
    margin-top: 41px;
    margin-bottom: 40px;
    
}
  @media screen and (max-width:576px) {
    .run_section{
        flex-direction: column;
        width: 353px;
        height: auto;
       margin: auto;
       /* align-items: center; */
    .run_img_part
    
    }
    .run_img_part img{
          width: 287px;
          height: 170px;
          margin: 0px 33px 0px 33px;

    }
    .run_text_part{
        margin: 33px 33px 0px 33px;
    }
    .run_text_part h1{
        font-size: 32px;
    }
    .run_img_part p{
        font-size: 14px;
    }
    .run_text_part button{
         padding: 16px 103px 16px 103px;
    }
  }

/* BMI Calculator title */

.bmi_calcu h1{
        font-size: 48px;
        color: rgba(255, 255 , 255, 100%);
        font-weight: 1200px;
        margin: 0px;
}
.bmi_calcu p{
    font-size: 14px;
    color: rgba(255, 255 , 255, 50%);
    margin: 0;
    margin-top: 14px;
    margin-bottom: 88px;
}
.bmi_calcu{
    
    text-align: left;
  max-width: 671px;
    margin: 0 auto;
}

@media screen and (max-width:576px) {
    .bmi_calcu{
        margin-top: 66px;
        margin-bottom: 32px;
    }
    .bmi_calcu h1{
        font-size: 32px;
    }
    .bmi_calcu p{
        font-size: 14px;
    }
}

/* BMI Calculator chart*/
.container{
    max-width: 100%;
    background-color: rgba(34, 34 , 34, 100%);
    margin: 0 auto;
    margin-bottom: 88px;
    display: flex;
    justify-content: space-between;
}
.bmi_chart{
    color: #ffffff;
    
}
table{
    color: rgba(255, 255 , 255, 50%);
    );
}
.tr_heading{
    color: #ffffff;
}
td,th{
    border: 1px solid rgba(255, 255 , 255, 10%);
    padding: 10px 68px 15px 18px;
}
table{
    border-collapse: collapse;
}
.bmi_chart h2{
    font-size: 28px;
}
th{
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}
td{
    font-size: 14px;
font-weight: normal;
}

.calcu_input2 input{
    background-color: rgba(255, 255 , 255, 10%);
    border: none;
  padding: 10px;
  border-radius: 8px; 
  font-size: 16px; 
  width: 100%;
  width: 283px;
  height: 48px;
  box-sizing: border-box;
  
  
}
.calcu_input2{
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 12px;
    
    margin-right: 12px;
    gap: 12px;
    
    
}

.select_an input{
    background-color: rgba(255, 255 , 255, 10%);
    border: none;
  padding: 10px;
  border-radius: 8px; 
  font-size: 16px; 
  width: 100%;
  width: 577px;
  height: 48px;
  box-sizing: border-box;
  margin-top: 12px;
}

.bmi-calculator h2{
    font-size: 28px;
    color: rgba(255, 255 , 255, 100%);
}
.bmi-calculator p{
    font-size: 14px;
    color: rgba(255, 255 , 255, 50%);
}

.button4{
    background-color: #e6533c;
    padding: 16px 70px;
    border-radius: 42px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    margin-top: 34px;
    margin-bottom: 52px;
}
.bmi-calculator{
    margin-right: 189px;
    margin-top: 49px;

}
.bmi_chart{
    margin-top: 52px;
    margin-left: 187px;
}
@media screen and (max-width:576px) {
    .container{
        flex-direction: column;
        padding: 10px;
        width: 394px;
    }
    .bmi-calculator{
        margin: auto;
    }
    .bmi-calculator h2{
         font-size: 16px;
    }
    .bmi_chart{
        margin: auto;
    }
    .bmi_chart h2{
     font-size: 16px;
    }
    .bmi_chart table{
      margin-bottom: 42px;
       
    }
    .bmi-calculator p{
        font-size: 10px;
    }
    .calcu_input2 input{

      width: 170px;
      height: 48px;
    }
    .calcu_input2{
        /* display: flex; */
        display: grid;
        grid-template-columns: repeat(2,1fr);
        /* margin-top: 12px; */
        
        /* margin-right: 12px; */
        /* gap: 12px; */
        
        
    }
}

/* meet our team */

.meet_team h1{
   font-size: 48px;
   font-weight: 1200;
   color: rgba(255, 255 , 255, 100%);
}
.meet_team p{
   font-size: 14px;
   font-weight: normal;
   color: rgba(255, 255 , 255, 50%);
}

.meet_team{
    text-align: center;
    margin-bottom: 58px;
}

.team{
    max-width: 100%;
    margin: 0 auto;
    background-color: rgba(255, 255 , 255, 10%);
    border: none;
    border-radius: 18px;
    margin-bottom: 88px;
    margin-left: 190px;
    margin-right: 190px;
}

.container2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.relative_pos{
    position: relative;
    padding: 20px;
    
}

.relative_pos img{
    width: 100%;
    height: 100%;

    border: none;
    border-radius: 18px;
    
    

}
.relative_pos p{
    position: absolute;
    bottom: 15px;
    left: 30px;
    color: rgba(255, 255 , 255, 50%);
    font-size: 14px;
}

.relative_pos h3{
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: rgba(255, 255 , 255, 100%);
    font-size: 20px;
}

@media screen and (max-width:576px) {
     .container2{
        flex-direction: column;
        grid-template-columns: repeat(1,1fr);
        
        
     }
     .container2 img{
        width: 313px;
        height: 272px;
        padding: 0px;
        
     }
     .team{
            width: 353px;
            height: 1900px;
            margin: auto;
            margin-bottom: 160px;
            
     }
     .relative_pos{
        padding: 20px;

     }
    
}















/* footer  */

.left-section h1{
    font-size: 70px;
    color: #e6533c;
    font-style: italic;
    font-weight: 1000;

}
.left-section p{
    font-size: 14px;
    color: rgba(255, 255 , 255, 50%);
    
}

.right_section a{
    color: rgba(255, 255 , 255, 50%);
    text-decoration: none;
    
    
}
.right_section h2{
    color: #ffffff;


}
.right_section{
    display: flex;
    
    justify-content: space-between;
    width: 40%;
    gap: 154px;
    margin: 66px 191px 79px 0px;
    
}
.section_footer2{
       background-color: rgba(255, 255 , 255, 10%);
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 35px;
}
.section_footer{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
    
    align-items: center;
    
    
}
.right_section li{
    list-style: none;
}
.left-section{
    margin: 66px 0px 152px 190px;
}

.right1 li{
    margin: 20px;
    text-align: left;
    font-size: 23px;
}
.right1 h2{
    font-size: 32px;
}
.right2 h2{
    font-size: 32px;
}
.right2 li{
    margin: 20px;
    
    font-size: 23px;
}

.right1{
    display: inline-block;
    padding: 0px;
    
}

.footer-text{
 
    color: rgba(255, 255 , 255, 50%);
    text-align: center;
    font-size: 20px;
    
}
@media screen and (max-width:576px) {
     .section_footer{
        flex-direction: column;
     }
    .right_section{
        flex-direction: column;
        padding: auto;
    }
    .left-section{
        margin: auto;
    }
}